{
	"presets": ["env", "react", "stage-2"],
	"env": {
		"development": {
                        "plugins": ["@babel/plugin-transform-regenerator"],
			"presets": ["react-hmre"]
,			  "plugins": ["react-hot-loader/babel"]

		}
	}
}
