.Features {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    color: white;
    font-family: 'bitstreamvera', monospace
    /*background: linear-gradient(-33deg, hsl(240, 49%, 14%), hsl(209, 76%, 22%),  hsl(240, 49%, 14%));*/
    /*background: linear-gradient(-20deg, #ed8f03, #ffb75e, #ed8f03);*/
   /*box-shadow: inset -4px 0px 20px 0px rgba(0, 0, 0, 0.2);*/
}

.Features #header {
    display: flex;
    height: 20px;
    justify-content: space-between;
    line-height: 20px;
    margin-bottom: 2px;
}
.Features #header #title {
    font-family: 'lato_bold';
    font-size: 21px;
}
.Features #header #toolbar {
    font-size: 24px;
    cursor: pointer;
}
.Features #header #allfeatures {
    font-size: 18px;
    cursor: pointer;
}
.Features #header #allfeatures i {
    font-size: 24px;
}

.Features #nameslider {
    width: 100%;
}
.Features #nameslider .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.Features #nameslider .slider:hover {
    opacity: 1;
}
.Features #nameslider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: #181818;
    cursor: pointer;
}
.Features #nameslider .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}