.preview-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10px;

    .title {
        font-size: 26px;
    }
}

.algo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
}

.subalgo-container {
    position: relative;
    width: 205px;
    height: 227px;
    // margin-bottom: 10px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
    &.selected {
        background: #000;
    }

    &.preview-mode {
        width: 100%;
        height: 93%;
        box-shadow: none;

        .subalgo-plot {
            width: 440px;
            height: 430px;
        }
    }
}

.subalgo-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 10px;
    &.selected {
        color: #fff;
    }
}

.subalgo-plot {
    background: #fff;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.subalgo-time {
    position: absolute;
    bottom: 15px;
    right: 18px;
}

.subalgo-focus {
    background: #fff;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    height: 565px;
}

.subalgo-edit-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: 26px;

        .breadcrumbs {
            font-size: 14px;
            color: #cdcdcd;

            span {
                margin: 0 2px;
            }

            a:link,
            a:visited {
                color: #cdcdcd;

                &.next-step {
                    color: #000;
                }
            }
        }
    }
}

.subalgo-detail {
    display: flex;
    justify-content: space-between;
    height: 90%;

    .preview {
        height: 95%;
        width: 50%;

        .action-buttons {
            text-align: center;

            button {
                width: 150px;
            }
        }
    }

    .params {
        width: 49%;

        hr {
            margin: 5px 0;
        }

        .param-previews {
            display: flex;
            height: 180px;
            width: 100%;
            overflow-y: scroll;

            .subalgo-container {
                min-width: 140px;
                height: 157px;
                .subalgo-plot {
                    width: 135px;
                    height: 130px;
                }
            }
        }
    }

    .param-title {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .output-section {
        margin-bottom: 5px;
    }
}

.subalgo-param-field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10px;
}

.help-container {
    background: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 485px;
    z-index: 1;
}

.help-content {
    height: 100%;
    overflow: scroll;
    margin-left: 10px;
}
