.algo_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subalgo-container {
    width: 205px;
    height: 227px;
    &.selected {
        background: #000;
    }
}

.subalgo-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 10px;
    &.selected {
        color: #fff;
    }
}

.subalgo-plot {
    background: #fff;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
