.GenericGraph {
    position: relative;
    height: 100%;
}

.GenericGraph > div:first-child {
    height: 100%;
}

.GenericGraph .graphToolbar {
    height: 24px;
    color: #111;
    text-align: center;
    display: inline-flex;
}

.GenericGraph .graphToolbar label {
    padding: 0px 5px 0px 15px;
}

.GenericGraph .graphToolbar input {
    background: #00000011;
    height: 22px;
    border: none;
    color: #111;
}

.GenericGraph .graphToolbar #setAxes {
    line-height: 22px;
    margin: 0 15px 0 15px;
    transition: background 0.2s, color 0.2s;
    width: 80px;
    background: linear-gradient( to top, #0069e0, #0077ff );
    text-align: center;
    border-radius: 4px;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
}
/*
.GenericGraph .graphToolbar #setAxes:hover {
}
*/

.GenericGraph .GenericGraphXAxis {
    position: absolute;
    right: 17px;
    bottom: 24px;
    font-weight: bold;
}
.GenericGraph .GenericGraphYAxis {
    position: absolute;
    left: 30px;
    top: 14px;
    font-weight: bold;
}

.GenericGraph .GenericGraphToolbar {
    position: absolute;
    top: 0;
    left: 100%;
}
.GenericGraph .GenericGraphToolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.GenericGraph .GenericGraphToolbar ul li {
    width: 32px;
    height: 32px;
    padding: 2px 4px 4px 2px;
    line-height: 0px;
    font-size: 26px;
    background: white;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.GenericGraph .GenericGraphToolbar ul li:hover {
    background: #212529;
    color: white;
}

.GenericGraph .GenericGraphToolbarSub {
    display: none;
    position: absolute;
    top: 0px;
    left: 34px;
    line-height: 22px;
    font-size: 12px;
    color: black;
}
.GenericGraph .GenericGraphToolbarSub > div {
    margin: 4px;
    padding: 0px 6px;
}
.GenericGraph .GenericGraphToolbarSub > div:hover {
    background: #3387e6;
    color: white;
}


.GenericGraph .setGroup {
    position: relative;
}


.GenericGraph > .groupColor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: white;
    margin: 10px;
    box-shadow: 0px 5px 8px 0px #c2c2c2;
    display: none;
}

.GenericGraph .GenericGraphContextMenuGroup {
    display: flex;
    justify-content: space-between;
}
.GenericGraph .GenericGraphContextMenuGroup > #groupNumber {
    
}
.GenericGraph .GenericGraphContextMenuGroup > #groupColor {
    width: 24px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 3px 0px 3px 0px;
}

.GenericGraph .GenericGraphWrapper {
    position: fixed;
}
.GenericGraph .GenericGraphContextMenu {
    position: relative !important;
    display: none;
}