.QualityScanMasks {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.QualityScanMasks #sortlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}

.QualityScanMasks_maskli {
    list-style-type: none;
    color: white;
    opacity: 0.35;
    width: 284px;
    font-weight: bold;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
.QualityScanMasks_maskli.active {
    opacity: 1;
}
.QualityScanMasks_maskli:hover {
    background: #3a3a3a;
    color: white;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
}

.QualityScanMasks_maskli .header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
}
.QualityScanMasks_maskli .subheader {
    display: flex;
}

.QualityScanMasks .maskNames {
    cursor: pointer;
}

.QualityScanMasks .Checkbox {
    width: 30px;
    height: 30px;
    line-height: 26px;
    padding-left: 8px;
    font-size: 18px;
    color: transparent;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.QualityScanMasks .Checkbox.active {
    color: #ff4500;
}

.QualityScanMasks_maskli .opacityslider {
    height: 30px;
    line-height: 21px;
}
.QualityScanMasks_maskli .opacityslider input {
    width: 70px;
    -webkit-appearance: none;
    height: 2px;
    background: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.QualityScanMasks_maskli .opacityslider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 14px;
    background: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: ew-resize;
}

.QualityScanMasks_maskli .maskmiddle {
    display: flex;
    justify-content: space-between;
}

.QualityScanMasks_maskli .colorpalette {
    position: absolute;
    z-index: -1;
}
.QualityScanMasks_maskli .colorpalette img {
    margin-bottom: 3px;
}

.QualityScanMasks_maskli .option {
    justify-content: space-between;
    padding: 3px 16px 3px 16px;
    display: flex;
}

.QualityScanMasks_maskli .option .range {
    height: 24px;
    line-height: 14px;
}

.QualityScanMasks_maskli .option .range input {
    width: 70px;
    -webkit-appearance: none;
    height: 2px;
    background: #666;
}
.QualityScanMasks_maskli .option .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 14px;
    background: #666;
    cursor: ew-resize;
}

.QualityScanMasks_maskli .option .text {
    height: 24px;
}
.QualityScanMasks_maskli .option .text input {
    height: 100%;
}

.QualityScanMasks_maskli .toggleSettings {
    font-size: 20px;
    line-height: 27px;
    color: white;
}
