.Taskbar {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 3px;
}

.Taskbar .rwm_thumbnail {
    width: auto;
    min-width: 150px;
    height: 100%;
    line-height: 24px;
    margin: 0px 2px;
    position: relative;
    cursor: pointer;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Taskbar .rwm_thumbnail .rwm_thumbnail_bar {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 6px;
    background: #05101f;
    color: white;
    display: flex;
    justify-content: space-between;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Taskbar .rwm_thumbnail .rwm_thumbnail_bar > .rwm_thumbnail_bar_state {
    width: 12px;
    height: 12px;
    margin: 6px 0px 6px 6px;
    border-radius: 2px;
    background: white;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.Taskbar .rwm_thumbnail > .rwm_thumbnail_preview {
    position: absolute;
    width: auto;
    bottom: -150px;
    height: 150px;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    border-top: 4px solid #05101f;
    box-sizing: border-box;
    transition: bottom 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Taskbar .rwm_thumbnail > .rwm_thumbnail_preview > canvas {
    height: 100%;
    image-rendering: pixelated;
}
