.Container {
    height: 100%;
    width: 100%;
    position: relative;
}

.Container #stylyDiv {
    position: absolute;
    top: 30px;
    width: 100%;
    height: calc(100% - 30px);
    box-shadow: inset 5px 5px 11px rgba(6, 6, 6, 0.3);
}
