.RWindowManager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.RWindowManager > #RWindowManager_windowcont {
    width: 100%;
    height: calc( 100% - 24px );
}
.RWindowManager > #RWindowManager_taskbarcont {
    height: 24px;
    position: absolute;
    bottom: 0;
    z-index: 1000000000;
}

.RWindowManager #RWindowManager_svgunderlay {
    width: 100%;
    position: absolute;
    height: calc( 100% - 30px );
    top: 30px;
    pointer-events: none;
}