appnope==0.1.0
apptools==4.4.0
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
basemap==1.2.0
bz2file==0.98
certifi==2018.11.29
cftime==1.0.3.4
configobj==5.0.6
cvxopt==1.2.2
cycler==0.10.0
Cython==0.29.3
decorator==4.3.2
dipy==0.15.0
envisage==4.7.0
future==0.17.1
h5py==2.8.0
imageio==2.4.1
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
matplotlib==3.0.2
mayavi==4.6.2
mne==0.17.0
more-itertools==4.3.0
mpltools==0.2.0
nibabel==2.3.3
numexpr==2.6.9
numpy==1.16.0
olefile==0.46
pandas==0.24.0
parso==0.3.2
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.1
progressbar2==3.38.0
prompt-toolkit==2.0.8
ptyprocess==0.6.0
py==1.7.0
pydicom==1.2.2
pyface==6.0.0
Pygments==2.3.1
pyparsing==2.3.1
pyproj==1.9.6
pyshp==2.0.1
pysurfer==0.9.0
pytest==4.1.1
pytest-runner==4.2
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.9
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
statsmodels==0.9.0
tables==3.4.4
tornado==5.1.1
traitlets==4.3.2
traits==4.6.0
traitsui==6.0.0
vtk==8.1.2
wcwidth==0.1.7
