.TopBar {
    width: 100%;
    height: 30px;
    display: inline-flex;
    justify-content: space-between;
    /*background: linear-gradient( to right, #ededed, #f1f1f1, #ededed );*/
    background: #061427;
    position: relative;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    z-index: 2147000000;
}

.TopBar #topBarMenu {
    z-index: 2147483548;
    /*background: linear-gradient( to right, #7d39e0, #05101f );*/
}

.TopBar #topBarTools {
    z-index: 2147483548;
    /*background: linear-gradient( to right, #05101f, #7d39e0 );*/
}

.TopBar .dropdownMain {
    margin-left: 0px;
}
.TopBar .dropdownMain.right > div {
    right: 0;
    left: unset;
}
.TopBar .dropdownToggle {
    color: white;
    border-radius: 0;
    border: none;
    background: transparent;
}
.TopBar .dropdownToggle.thin {
    padding-left: 2px;
    padding-right: 2px;
}
.TopBar .dropdownToggle > span {
    border-top: 4px dashed #fff;
}

.TopBar .triTopLeft {
    display: none;
    position: absolute;
    top: 0px;
    left: 251px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 150px 0 0;
    border-color: #05101f transparent transparent transparent;
}
.TopBar .triTopRight {
    display: none;
    position: absolute;
    top: 0px;
    right: 269px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 30px 150px;
    border-color: transparent transparent #05101f transparent;
}

.TopBar .topBarRadioSmall {
    height: 30px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 0px !important;
    border: none !important;
    background: transparent !important;
}
.TopBar .topBarRadioSmall.active {
    background: #335ce4 !important;
}

.TopBar #topBarMessageText {
    line-height: 30px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.inputfile {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
