@import "../../styles/theme.scss";
@import "../../styles/fonts.css";

.top-bar {
    color: white;
    width: 100%;
}

.controlBar {
}

/*
.session-bar-list-element {
    display: inline-block;
}*/

.navigation-bar {
    width: 100%;
    height: 35px;
    display: inline-flex;
    /*justify-content: space-between;*/
    position: relative;
    /*z-index: 2147000000;*/
}

.navigation-bar #topBarMenu {
    /*background: linear-gradient( to right, #7d39e0, #05101f );*/
    flex: 1;
}

.navigation-bar #topBarTools {
    /*background: linear-gradient( to right, #05101f, #7d39e0 );*/
}

.navigation-bar .dropdownMain {
    color: $grey9 !important;
    margin-left: 0px;
}

.navigation-bar .dropdownMain:hover {
    background-color: $light-blue-black !important;
}

.navigation-bar .dropdownMain:active {
    background-color: $light-blue-black !important;
}

.navigation-bar .dropdownMain.right > div {
    right: 0;
    left: unset;
}
.navigation-bar .dropdownToggle {
    color: $grey9 !important;
    background: transparent;
    background-color: transparent !important;
    border-radius: 0;
    border: none;
}

.navigation-bar .dropdownToggle.thin {
    padding-left: 2px;
    padding-right: 2px;
}

.navigation-bar .dropdownToggle > span {
    border-top: 4px dashed #fff;
}

.navigation-bar .dropdownToggle:hover {
    color: $grey9 !important;

    border: none;
}

.navigation-bar .dropdownToggle:focus {
    color: $grey9 !important;

    border: none;
}

.navigation-bar .dropdownToggle:active {
    color: $grey9 !important;

    border: none;
}

.navigation-bar .actionMenu {
    background-color: $light-blue-black !important;
    border: none;
}

.navigation-bar .actionMenuItem {
    color: $grey9 !important;
    background-color: $light-blue-black !important;
}

.navigation-bar .actionMenuItem:hover {
    color: $grey9 !important;
    background-color: $primary-blue !important;

}

.navigation-bar .actionMenuItem:disabled {
    color: $grey3 !important;
    background-color: $light-blue-black !important;
}


.navigation-bar .triTopLeft {
    display: none;
    position: absolute;
    top: 0px;
    left: 251px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 150px 0 0;
    border-color: #05101f transparent transparent transparent;
}
.navigation-bar .triTopRight {
    display: none;
    position: absolute;
    top: 0px;
    right: 269px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 30px 150px;
    border-color: transparent transparent #05101f transparent;
}

.export-button {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-feature-settings: "cpsp" on, "case" on;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #eeeeee;
    background: rgba(229, 229, 229, 0.4);

    span {
        vertical-align: middle;
    }
}
