.top-bar {
    color: white;
}

.session-bar {
    padding-top: 5px;
}

.session-bar label[for="codex-file-upload-button"] {
    margin-bottom: 0;
}

.session-bar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 5px;
}

.session-bar__spacer {
    flex-grow: 1;
}

/*
.session-bar-list-element {
    display: inline-block;
}*/

.navigation-bar {
    width: 100%;
    height: 30px;
    display: inline-flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ededed, #f1f1f1, #ededed);
    background: #061427;
    position: relative;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    z-index: 2147000000;
}

.navigation-bar #topBarMenu {
    z-index: 2147483548;
    /*background: linear-gradient( to right, #7d39e0, #05101f );*/
}

.navigation-bar #topBarTools {
    z-index: 2147483548;
    /*background: linear-gradient( to right, #05101f, #7d39e0 );*/
}

.navigation-bar .dropdownMain {
    margin-left: 0px;
}
.navigation-bar .dropdownMain.right > div {
    right: 0;
    left: unset;
}
.navigation-bar .dropdownToggle {
    color: white;
    border-radius: 0;
    border: none;
    background: transparent;
}
.navigation-bar .dropdownToggle.thin {
    padding-left: 2px;
    padding-right: 2px;
}
.navigation-bar .dropdownToggle > span {
    border-top: 4px dashed #fff;
}

.navigation-bar .triTopLeft {
    display: none;
    position: absolute;
    top: 0px;
    left: 251px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 150px 0 0;
    border-color: #05101f transparent transparent transparent;
}
.navigation-bar .triTopRight {
    display: none;
    position: absolute;
    top: 0px;
    right: 269px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 30px 150px;
    border-color: transparent transparent #05101f transparent;
}
