.Window {
    width: 100%;
    height: 100%;
    position: absolute !important;
    pointer-events: none;
}
.WindowRnd {
    pointer-events: auto;
}
.WindowContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.WindowHandle {
    background: #e6e6e6;
    color: black;
    border-bottom: 1px solid darkgrey;
    width: 100%;
    height: 23px;
    line-height: 23px;
    display: flex;
    justify-content: space-between;
    cursor: move;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.WindowHandle .WindowHandleLeft {
    display: flex;
}
.WindowHandle .WindowHandleTitle {
    margin-left: 4px;
    font-size: 15px;
    font-weight: bold;
}

.WindowHandle > .WindowHandleSnap {
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}
.WindowHandle > .WindowHandleSnap:hover {
    color: white;
}

.WindowHandle .WindowHandleButtons {
    display: flex;
    margin-left: 3px;
}
.WindowHandle .WindowHandleButtons > div {
    width: 12px;
    height: 12px;
    margin: 6px 4px; 
    border-radius: 12px;
    cursor: pointer;
    opacity: 0.85;
}
.WindowHandle .WindowHandleButtons > div:hover {
    opacity: 1;
    box-shadow: inset 0px 0px 4px 0px white;
}
.WindowHandle .WindowHandleButtons > .WindowHandleButtonsMinimize {
    background: #1e569e;
}
.WindowHandle .WindowHandleButtons > .WindowHandleButtonsMaximize {
    background: #259e1e;
}
.WindowHandle .WindowHandleButtons > .WindowHandleButtonsClose {
    background: #9e1e1e;
}

.WindowHandle .WindowHandleEmbrace {
    width: 22px;
    height: 22px;
    background: #c7c7c7;
    border-left: 1px solid darkgrey;
    cursor: pointer;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.WindowHandle .WindowHandleEmbrace > div {
    opacity: 0;
    line-height: 17px;
    font-size: 20px;
    padding-left: 1px;
    color: #061427;
    transition: opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.WindowContent > .WindowContentInner {
    width: 100%;
    flex: 1;
    border-top: none;
    overflow: auto;
}

.WindowContent .SnapCont {
    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.WindowContent .snap {
    position: absolute;
    width: 10px;
    height: 10px;
    line-height: 0px;
    border: 2px solid white;
    margin: 1px;
    border-radius: 50%;
    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.WindowContent .SnapPortTop {
    bottom: 100%;
    left: 50%;
}
.WindowContent .SnapPortRight {
    left: 100%;
    top: 50%;
}
.WindowContent .SnapPortBottom {
    top: 100%;
    left: 50%;
}
.WindowContent .SnapPortLeft {
    right: 100%;
    top: 50%;
}

.WindowGroup .WindowGroupWrapper {
    position: fixed;
    z-index: 2147480000;
}
.WindowGroup .WindowContextMenuHeader {
    display: none;
}
.WindowGroup .WindowContextMenuEmbrace {
    display: none;
}