.classifiersContainer {
    width: 100%;
    height: 100%;
}

.classificationRow {
    display: flex;
    justify-content: space-between;
}

.headerBar {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.body {
    width: 100%;
    height: 65%;
    display: flex;
}

.leftCol {
    width: 40%;
}

.rightCol {
    width: 60%;
    padding-left: 25px;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.classifierList {
    overflow-y: scroll;
    height: 100%;
    flex-wrap: nowrap !important;
    margin-top: 5px;
}

.checkboxRow {
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -10px;
    padding-right: 5px;
    &:hover,
    &.active {
        background-color: #007bff;
        .checkboxLabel {
            color: white;
        }
    }
}

.checkboxLabels {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.paramHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classifierCounts {
    span {
        display: block;
    }
}

.classifierParams {
    margin-top: 10px;
    height: 90%;
    overflow-y: scroll;
}

.parameterInput {
    display: block;
}
