.QualityScanInfo {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    color: white;
}
.QualityScanInfo .infoTable {
    flex: 1;
    width: 100%;
    height: calc(100% - 30px);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.QualityScanInfo .infoHeader {
    background: #181818;
    color: white;
    font-weight: bold;
    padding: 1px 0px 1px 6px;
    display: flex;
    justify-content: space-between;
}
.QualityScanInfo .infoHeader #headertitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.QualityScanInfo .infoHeader #headerclose {
    margin: 0px 5px;
    padding: 0px 3px;
    line-height: 20px;
    cursor: pointer;
}

.QualityScanInfo .infoTable table {
    width: 100%;
}
.QualityScanInfo .infoTable tbody {
    font-size: 14px;
}

.QualityScanInfo tr {
    border-top: 1px solid #3a3a3a;
}
.QualityScanInfo th {
    cursor: pointer;
}
.QualityScanInfo th,
.QualityScanInfo td {
    padding: 1px 12px;
}

.QualityScanInfo .infoOptions {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.QualityScanInfo .option {
    display: flex;
    justify-content: space-between;
    padding: 4px 16px 4px 16px;
}

.QualityScanInfo .option .range {
    height: 24px;
}

.QualityScanInfo .option .range input {
    width: 70px;
    -webkit-appearance: none;
    height: 2px;
    background: #666;
}
.QualityScanInfo .option .range input::-webkit-slider-thumb {
    border-radius: 50%;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #666;
    cursor: ew-resize;
}

.QualityScanInfo .option .text {
    height: 24px;
}
.QualityScanInfo .option .text input {
    height: 100%;
}
