.feature-list-container {
    height: 40vh;
    position: relative;
    color: #bbb;
    background-color: #051426;
    font-family: "Inter", "Roboto", sans-serif;
    z-index: 999; //this is to ensure it is above the window layout

    &.stats-hidden {
        width: 100%;
        .feature-name-row {
            width: 100%;
        }
    }

    &.stats-not-hidden {
        width: 250%;

        .feature-name-row {
            width: 40%;
        }
    }

    .stats-bar-top {
        height: 36px;
        width: 100%;
        background-color: #051426;
        display: flex;
        flex-direction: row;
        position: relative;
        border-bottom: none;

        .label-row {
            width: 60%;
            padding: 0 5px;
            background-color: #061427;
            z-index: 999; //this is to ensure it is above the window layout
            line-height: 36px;

            display: flex;
            flex-direction: row;

            .classification,
            .regression {
                width: 25px;
            }

            .mean,
            .median {
                width: 75px;
            }

            .sparkline {
                width: 200px;
            }
        }

        .selected-dropdown {
            width: 250px;
            & > div {
                color: white;
                border: solid rgba(255, 255, 255, 0.5) 1px;
                border-radius: 4px;
                width: 95%;
                margin: 4px;
                height: 28px;
                line-height: 28px;
                padding: 0px;
                padding-left: 10px;
            }

            svg {
                float: right;
                fill: white;
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 5px;
        color: white;
        background-color: #79aab5;

        .title {
            font-weight: bold;
        }

        .counts {
            color: #bbb;
            font-size: 14px;
        }
    }

    .features {
        height: calc(100% - 57px);
        overflow-y: scroll;
        z-index: 999;
        position: relative;
        background-color: #061427;

        .loading-list {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .list {
            .featureRow {
                height: 22px;
                line-height: 22px;
                display: flex;
                flex-direction: row;

                &:hover {
                    background-color: #bbbbbb;
                    color: #051426;
                }

                .feature-name-row {
                    display: flex;
                    flex-direction: row;
                    .selected-checkbox {
                        width: 25px;
                    }

                    .feature-name {
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        padding-left: 5px;
                        padding-right: 5px;
                        text-overflow: ellipsis;
                        width: 225px;
                    }
                }

                .feature-statistics-row {
                    width: 60%;
                    display: flex;
                    flex-direction: row;
                    padding-left: 5px;
                    z-index: 999;

                    .class-regression-span {
                        width: 22px;
                    }

                    .mean-span,
                    .median-span {
                        width: 75px;
                    }

                    .sparkline-span {
                        width: 200px;
                    }
                }
            }
        }
    }
}
