.selections {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    color: white;
    font-family: "bitstreamvera", monospace;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-family: "lato_bold", sans-serif;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0 5px;

        .title {
            font-weight: bold;
        }

        .counts {
            color: #bbb;
            font-size: 14px;
        }
    }

    .list {
        direction: "ltr";
        width: 100%;
        height: 40vh;
        position: relative;
        overflow-y: scroll;

        ul {
            padding-left: 10px;
        }

        .selection {
            font-family: "bitstreamvera", monospace;
            color: #bbb;
            font-size: 14px;
            cursor: pointer;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                color: black;
            }

            &.selected {
                color: black;
                background-color: white !important;
            }

            .checkbox {
                height: 13px;
                width: 13px;
                border-radius: 2px;
                margin-right: 7px;
                margin-left: 5px;
                background-color: #5d6673;
            }

            .swatch {
                width: 10px;
                height: 10px;
            }
        }
    }
}
