.HoverableFS {
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 5px;
}

.HoverableFS ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.HoverableFS .selectedFS {
    display: flex;
}

.HoverableFS .selectedF {
    width: 50%;
}
.HoverableFS .selectedS {
    width: 50%;
}
.HoverableFS .selectedF > .selectedHeader {
    background: #061427;
    color: white;
    border-right: 1px solid grey;
}
.HoverableFS .selectedS > .selectedHeader {
    background: #061427;
    color: white;
    border-left: 1px solid grey;
}

.HoverableFS .selectedHeader {
    text-align: center;
}
.HoverableFS .selectedHeader > span:first-child {
    font-weight: bold;
    font-size: 20px;
}
.HoverableFS .selectedHeader > span:last-child {
    color: #ccc;
}

.HoverableFS .selectedCollapse {
    height: 0px;
    transition: height 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    max-height: 156px;
}

.HoverableFS li {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}