.controlBar {
    margin-left: 10px;
    color: white;
}

.icon {
    margin-right: 5px;
    stroke: white;
    fill: white;

    &:hover,
    &.active {
        background-color: white;
        stroke: black;
        fill: black;
    }
}
