.AlgorithmContainer {
    width: 100%;
    height: calc( 100% - 55px );
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    overflow: hidden;
    position: absolute;
    top: 27px;
}