.WebGLHeat {
    overflow: hidden;
    position: relative;
    background: #181818;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.WebGLHeat canvas {
    image-rendering: pixelated;
    position: absolute;
    transition: opacity 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        width 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        left 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* transition: width 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
}

.WebGLHeat #hoverBin {
    background: #ff4500;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.WebGLHeat #heatglide {
}
