.Parameters {
    height: 100%;
    overflow-y: auto;
    width: 0px; /*Makes flex work for whatever reason*/
    flex: 1;
    display: flex;
    flex-flow: column;
    position: relative;
}

.Parameters #algorithmParameters > #title {
    font-size: 22px;
    font-weight: bold;
    margin-left: 19px;
}

.Parameters canvas {
    cursor: pointer;
}

.Parameters #container {
    padding: 5px 5px 5px 35px;
    list-style-type: none;
}
.Parameters .parameter li {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.Parameters .parameter .parammore {
    overflow-x: auto;
}
.Parameters .parameter .parammoreli {
    display: inline-flex;
}

.Parameters .parameter .parammoreli .mores {
    position: relative;
    width: 140px;
    height: 164px;
    margin: 3px 4px 3px 4px;
    cursor: pointer;
    box-sizing: initial;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.Parameters .parameter .parammoreli .mores:hover {
    color: #eee;
    border: 1px solid #1a1a1a;
}
.Parameters .parameter .parammoreli .mores.active {
    color: #eee;
    border: 1px solid #1a1a1a;
}

.Parameters .parameter .parammoreli .mores #name {
    text-align: center;
    transition: background 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.Parameters .parameter .parammoreli .mores:hover #name {
    background: #1a1a1a;
}
.Parameters .parameter .parammoreli .mores.active #name {
    background: #1a1a1a;
}

.Parameters .parameter .parammoreli .mores #sample {
    width: 140px;
    height: 140px;
    background: #fefefe;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.Parameters .parameter #paramtoolbar {
    display: inline-flex;
    justify-content: flex-end;
}

.Parameters .parameter #paramtoolbar > #more {
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;
}
.Parameters .parameter #paramtoolbar > #help {
    font-size: 20px;
}

.Parameters #continueButton {
    text-align: center;
    position: absolute;
    background: hsl(0, 0%, 91%);
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: 22px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.Parameters #algorithmParameters {
    display: flex;
    flex-flow: column;
}
.Parameters #outputParameters {
    display: none;
    flex-flow: column;
    margin: 0px 20px;
}
.Parameters #outputParameters #title {
    font-size: 22px;
}
.Parameters .outputParameterHead {
    font-weight: bold;
    border-top: 1px solid #d8d8d8;
    margin-bottom: -4px;
}
.Parameters .outputParameterHead.optioned {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    padding: 6px 0px 6px 0px;
}
.Parameters .outputParameter {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}
.Parameters #outputParameters #run {
    text-align: center;
    background: #05101f;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.Parameters input {
    line-height: 0px;
    font-size: 15px;
}

.Parameters .parameterDropdownMenu {
    max-height: 200px;
    overflow-y: auto;
    right: 0;
    left: unset;
}
