.explain-this-container{
	height:100%;
	width:100%;
    overflow-y:scroll;
    overflow-x: hidden;
	padding-left: 5px;
	padding-right: 5px;
	padding:10px;
	padding-top:0px;

    .feature-list {
        height:220px;
        border-bottom: 3px solid black;
        width:100%;
        display: flex;
        flex-direction:row;

        .feature-list-header {
            color: rgba(0, 0, 0, 0.87);
            font-size: 1.10rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            letter-spacing: 0.0075em;
            display: inline;
        }

        li {
            height:20px;
        }

        .used-features {
            width:35%;
            overflow-y: scroll;
            padding:16px;
        }

        .right-pane {
            width:25%;
            display: flex;
            flex-direction: column;

            .label-chooser {  
                padding-left: 16px;
                height: 50%;
            }

            .button-container {
                height:50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .run-button {
                    height: 40%;
                    width: 60%;
                }
            }

        }
        

        .tree-sweep-scroller {
            margin-bottom: 20px;
            width:40%;

            .tree-sweep-slider {
                margin:20px;
            }

            .tree-sweep-plot{
                height:90%;
                width:100%;
            }
        }
    }

    .tree-container {
        width:100%;
        height:600px;
        flex:1;
    }
}
