/*
.explain-this-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction:column;

    .feature-list {
        height: 100%;
        width: 220px;
        display: flex;
        flex-direction: column;
    }

    .tree-container {
        height: 100%;
    }

}
*/
.explain-this-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    .feature-list {
        width: 250px;
        border-right: 3px solid black;
        height: 100%;
        display: flex;
        flex-direction: column;

        .feature-list-header {
            color: rgba(0, 0, 0, 0.87);
            font-size: 1.1rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            letter-spacing: 0.0075em;
            display: inline;
        }

        li {
            height: 20px;
        }

        .used-features {
            width: 100%;
            overflow-y: scroll;
            padding: 16px;
            height: 30%;
            margin-top:auto;
        }

        .tree-sweep-scroller {
            margin-bottom: 20px;
            height:30%;
            width:100%;
            .svg-container {
                height:100%;
            }
            .tree-sweep-slider {
                padding : 20px;
            }

            .tree-sweep-plot {
                width: 100%;
                height:100%;
            }
        }

        .run-button {
            margin:10px;
            margin-top: auto;
        }
    }

    .tree-container {
        width: 100%;
        height: 600px;
        flex: 1;
        overflow-y:scroll;
    }
}

