.Export {
    width: 100%;
    height: 100%;
}

.Export #container {
    width: 100%;
    height: 100%;
}

.Export #exportdownloadlink {
    display: none;
}

.Export #export {
    color: #1a1a1a;
    text-decoration: none;
}
