html {
    width: 100%;
    height: 100%;
    /* background: radial-gradient(circle at 50% -45%, #007584, #000f2f); */
    background: #061427;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    font-family: sans-serif;
    color: #181818;
}

#root {
    width: 100%;
    height: 100%;
    font-family: "lato";
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.popover {
    z-index: 2147483638 !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #335de6;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

::selection {
    background: #000;
    color: #fff;
}
::-moz-selection {
    background: #000;
    color: #fff;
}

@keyframes fadeOutToNone {
    0% {
        display: inherit;
        opacity: inherit;
    }
    1% {
        display: inherit;
        opacity: inherit;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: inherit;
        opacity: 0;
    }
    100% {
        display: inherit;
        opacity: 1;
    }
}

.monospace {
    /* system font stack */
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}
