$black: #000000;
$grey1: #555555;
$grey3: #808080;
$grey5: #bbbbbb;
$grey7: #e5e5e5;
$grey9: #eeeeee;
$white: #ffffff;
$dark-grey: #252525;
$blue-black: #061427;
$panel-blue-black: #081a33;
$modal-blue-black: #152F53;
$light-blue-black: #1F4274;
$primary-blue: #3980E3;
$primary-blue-highlight: #5494ED;
$red: #eb5757;
$yellow: #ffe600;
$green: #33ff00;
$header-green: #477680;
$magenta: #ff00f5;

$default-point-color: #3386e6;

$selection-color-options: (
    "#3988E3",
    "#9EDF11",
    "#11D3DF",
    "#FF891C",
    "#FF11E7",
    "#1C7306",
    "#F3AEEC",
    "#98e633",
    "#7733e6",
    "#e63380",
    "#33e6c5",
    "#333be6",
    "#e63333",
    "#380f7b",
    "#7b0f3e",
    "#4c7b0f",
    "#0f7b67",
    "#0f157b",
    "#7b0f0f"
);

:export {
    selectionColorOptions: $selection-color-options;
    defaultPointColor: $default-point-color;
    primaryBlue: $primary-blue;
    green: $green;
    yellow: $yellow;
    magenta: $magenta;
    white: $white;
    grey5: $grey5;
}
