.initialGraph {
    width: 250px;
    height: 250px;
}

.xAxisLabel {
    position: absolute;
    right: 17px;
    bottom: 24px;
    font-weight: bold;
    pointer-events: none;
}

.yAxisLabel {
    position: absolute;
    left: 38px;
    top: 30px;
    font-weight: bold;
    pointer-events: none;
}
